.titleBar {
	display:flex;
	justify-content: space-between;
	background-color:#fff;
	padding:15px;
	border-radius:10px;
};
.pageTitle{
    font-size:14;
}
.title {
	flex-grow: 1;
}
.titleBarAction{
	display:flex;
	justify-content:flex-end;
}
.titleBarAction:only-child {
	margin-left:20px,
}